@page "/ListaProdutos"
<h1>ListaProdutos</h1>
<h2>lista de produtos com forearch</h2>
<hr />
@foreach (var produto in GetProdutos())
{
    <div>
        <h3>produto:@produto.Nome</h3>
        <h3>cadastrado em:@produto.DataCadastro.ToString("dd/MM/yyyy")</h3>
        <hr />
    </div>
    


}
<hr />
<hr />
@for (int i = 0; i < Produto.Count; i++)
{
    <div>
        <h3>produto[@(i+1)º ]:@Produto[i].Nome</h3>
        <h3>cadastrado em:@Produto[1].DataCadastro.ToString("dd/MM/yyyy")</h3>
        <hr />
    </div>
}

@code {
    public List<Produto> Produto { get { return GetProdutos(); } }

    private List<Produto> GetProdutos()
    {
        return new List<Produto>()
    {
                new Produto(){Nome = "fusca",DataCadastro = new DateTime(2020,09,05) },
                new Produto(){Nome = "gol",DataCadastro = new DateTime(2020,09,05) },
                new Produto(){Nome = "variant",DataCadastro = new DateTime(2020,09,05) }
            };

    }

}